<% http_header("style/form.css", "/funcs.js", "/backup.js") %>
<% noload_header("_backup", "pls_wait_factory_reboot.html", "factory") %>
<div class="page_title">$backup_head</div>
<div id="main" class="main">
<% table_header() %>
$bluebar

<script>
var wds_endis_fun='<% cfg_get("wds_endis_fun") %>';
var wds_repeater_basic='<% cfg_get("wds_repeater_basic") %>';
var endis_wl_radio='<% enable_ap_orNot("bgn") %>';
var ts='<% cfg_get("factory") %>';
</script>

<TR>
	<TD nowrap colspan=2><B>$restore_def_load</B></TD>
</TR>
<TR>
	<TD nowrap colspan=2><BR><B>$restore_def_sure</B></TD>
</TR>
$bluebar
<TR>
	<TD nowrap colspan=2 align=center>
	<input class="short_common_bt" type="button" name="yes" value="$yes_mark" onclick="click_yesfactory();">
	<input class="short_common_bt" type="button" name="no" value="$no_mark" onclick="location.href='BAK_backup.htm'">
	</TD>
</TR>
</TABLE>
</div>

</FORM>
</BODY>
</HTML>
