<% http_header_no_doc("style/form.css", "/funcs.js", "/wadv_sechdule.js") %>
<% body_header("_wladv", "WLG_adv.htm", "wadv_schedule_add_an") %>

<div class="page_title">$wlan_adv_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
		<input class='cancel_bt' type='button' name="edit_schedule" value='$cancel_mark' onClick='location.href="WLG_adv.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type="submit" name="add_schedule" value="$apply_mark" onClick="return wireless_schedule_add('an', 'add');">
        </TD>
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button">
<script>
var ts="<% cfg_get("wadv_schedule_add_an") %>";

var gui_region="<% cfg_get("GUI_Region") %>";
var netgear_region=(top.netgear_region == "") ? "WW" : top.netgear_region;

<% wireless_schedule_items_a() %>
var edit_num = "<% cfg_get("wless_schedule_edit_num") %>";
/*
	var zQuery=function(ele,tagName,className){ //core object 
    if ( window == this ) return new zQuery(ele,tagName,className); 
    if(!arr){var arr=new Array;} 
    if(ele){ 
        if(ele.constructor!=zQuery){ 
            var elem=typeof(ele)=="object"?ele:document.getElementById(ele); 
            if(!tagName){ 
                arr.push(elem); 
            }else{ 
                var tags=elem.all&&!window.opera?tagName=="*"?elem.all:elem.all.tags(tagName):elem.getElementsByTagName(tagName); 
                if(!className){ 
                    for(var i=0, l=tags.length; i<l; i++){ 
                        arr.push(tags[i]); 
                    } 
                }else{ 
                    var reClassName=RegExp("(^|\\s+)"+className+"($|\\s+)"); 
                    for(var i=0, l=tags.length; i<l; i++){ 
                        if(reClassName.test(tags[i].className)){ 
                            arr.push(tags[i]); 
                        } 
                    } 
                } 
            } 
        }else{ 
            for(var i=0, l=ele.length; i<l; i++){ 
                arr=arr.concat(Array.prototype.slice.call(zQuery(ele[i],tagName,className))); 
            } 
        } 
    } 
    return this.setArray(arr);  
} 
zQuery.prototype.setArray = function( arr ) { 
    this.length = 0; 
    Array.prototype.push.apply( this, arr );  
    return this; 
} 
zQuery.fn=zQuery.prototype; 
//var $=zQuery; 

//obtain the absolute position of select 
function Offset(obj){ 
    var t = obj.offsetTop; 
    var l = obj.offsetLeft; 
    var w = obj.offsetWidth; 
    var h = obj.offsetHeight-2; 
    //var h=obj.style.height; 
    while(obj=obj.offsetParent) 
    { 
        t+=obj.offsetTop; 
        l+=obj.offsetLeft; 
    } 
    return { 
        top : t, 
        left : l, 
        width : w, 
        height : h 
    } 
}

//simulation select 
function instSelect(obj){
    var offSet=Offset(obj);
    obj.style.display="none";
    var sDiv=document.createElement("div");
    sDiv.id="div"+obj.name;
    sDiv.className="divSlt";
    sDiv.style.width=offSet.width+"px";
    //sDiv.style.height=offSet.height+"px";
    sDiv.style.left=offSet.left+"px";
    sDiv.style.top=offSet.top+"px";
    document.body.appendChild(sDiv);
    var sSpan=document.createElement("span");
    var spanId=obj.options[obj.selectedIndex].value;
    var spanText=obj.options[obj.selectedIndex].text;
    sSpan.id=spanId;
    sSpan.style.lineHeight=offSet.height+"px";
    sTxt=document.createTextNode(spanText);
    sSpan.appendChild(sTxt);
    sDiv.appendChild(sSpan);
    sSpan.onclick=function(){
    	if(obj.name == "start_time")
	{// to fix bug 25288 
		if(divend_time.style.display=="none")
			divend_time.style.display="block";
		else
			divend_time.style.display="none";
	}

        if(zQuery("div"+obj.name,"ul").length==0){
            var sUl=document.createElement("ul");
            sDiv.appendChild(sUl);
            var optLen=obj.options.length;
            var tmp=document.createDocumentFragment();
            for(var j=0;j<optLen;j++){
                var sltVal=obj.options[j].value;
                var sltTxt=obj.options[j].text;
                var sLi=document.createElement("li");
                sLi.id=sltVal;
                sLi.appendChild(document.createTextNode(sltTxt));
                sLi.onmouseover=function(){
                    this.style.background="#cccccc";
                    this.style.color="white";
                }
                sLi.onmouseout=function(){
                    this.style.background="white";
                    this.style.color="black";
                }
                sLi.onclick=function(){
                    sSpan.innerHTML=this.innerHTML;
                    obj.value=this.id;
                    sUl.style.display="none";
                    if(obj.name == "start_time")
    										divend_time.style.display="block";
                }
                tmp.appendChild(sLi);
            }
            sUl.appendChild(tmp);
            if(optLen>3){
                sUl.style.overflowY="scroll";
                sUl.style.height="200px";
            }
        }
        else{
            if(zQuery("div"+obj.name,"ul")[0].style.display=="none") zQuery("div"+obj.name,"ul")[0].style.display="block";
            else zQuery("div"+obj.name,"ul")[0].style.display="none";
        }
    }
}
function getEvent(){ 
     //compatible with ie and ff 
     if(document.all)    return window.event; 
     func=getEvent.caller; 
     while(func!=null){ 
         var arg0=func.arguments[0]; 
         if(arg0){ 
             if((arg0.constructor==Event || arg0.constructor ==MouseEvent) 
                || (typeof(arg0)=="object" && arg0.preventDefault && arg0.stopPropagation)){     
                return arg0; 
              } 
         } 
          func=func.caller; 
        } 
        return null; 
}
//obtion the number of select, and execut the function
function initSelect(){ 
    var slt=zQuery(document,"select"); 
    var sltLen=slt.length; 
    for(var i=0;i<sltLen;i++){  
        instSelect(slt[i]); 
    } 
} 

document.onclick=function(){ 
    var evt=getEvent(); 
    var element=evt.srcElement || evt.target; 
    var s=zQuery(document,"select"); 
    if((element.parentNode.parentNode==null||element.parentNode.parentNode.className!="divSlt")&&element.nodeName!="SPAN"){ 
        for (var i=0; i<s.length; i++) { 
            if(!zQuery("div" + s[i].name,"ul")[0]) continue; 
            zQuery("div" + s[i].name,"ul")[0].style.display="none"; 
			divend_time.style.display="block"; 
        } 
    } 
}
*/
function loadvalue()
{
	var cf = document.forms[0];
	//initSelect();
	cf.selday[0].checked = true;
	schedule_check_pattern();
}
</script>

<input type="hidden" name="schedule_info" value="">

<TABLE width="100%" border="0" cellpadding="2" cellspacing="3">
<TR><TD colspan="2"><b>$adva_turnoff</b></TD></TR>
<TR>
	<TD width="10%" align="left">$adva_start :</td>
	<TD align="left">
		<select class="divselect" name="start_time">
		<script>
		var i=0;
		for(i=0; i<48; i++)
		{
			if((gui_region=="German" && netgear_region=="WW") || netgear_region=="GR")
				document.write('<option value="'+i+'">'+hour_schedule_24[i]+'</option>');
			else
				document.write('<option value="'+i+'">'+hour_schedule_12[i]+'</option>');
		}
		</script>
		</select>
	</TD>
</TR>
<TR>
	<TD nowrap width="10%" align="left">$adva_end :</td>
	<TD align="left">
		<select class="divselect" name="end_time">
		<script>
                var i=0;
                for(i=0; i<48; i++)
                {
                        if((gui_region=="German" && netgear_region=="WW") || netgear_region=="GR")
                                document.write('<option value="'+i+'">'+hour_schedule_24[i]+'</option>');
                        else
                                document.write('<option value="'+i+'">'+hour_schedule_12[i]+'</option>');
                }
                </script>
		</select>
	</TD>
</TR>
<TR><TD colspan="2"><b>$adva_recur_pattern</b></TD></TR>
<TR><TD colspan="2"><input type="radio" name="selday" value="0" onClick="schedule_check_pattern();"><b>$email_daily</b></TD></TR>
<TR><TD colspan="2"><input type="radio" name="selday" value="1" onClick="schedule_check_pattern();"><b>$adva_select_days</b></TD></TR>
<TR><TD colspan="2">
	<TABLE width="90%" align="center" cellpadding="2" cellspacing="3" border="0">
	<TR><!-- bug 23395:all select by default -->
		<TD nowrap width="25%" align="left"><input type="checkbox" name="sun" value="0" checked>$schedule_sun</TD>
		<TD nowrap width="25%" align="left"><input type="checkbox" name="mon" value="1" checked>$schedule_mon</TD>
		<TD nowrap width="25%" align="left"><input type="checkbox" name="tue" value="2" checked>$schedule_tue</TD>
		<TD nowrap width="25%" align="left"><input type="checkbox" name="wed" value="3" checked>$schedule_wed</TD>
	</TR>
	<TR>
		<TD nowrap width="25%" align="left"><input type="checkbox" name="thu" value="4" checked>$schedule_thu</TD>
		<TD nowrap width="25%" align="left"><input type="checkbox" name="fri" value="5" checked>$schedule_fri</TD>
		<TD nowrap width="25%" align="left"><input type="checkbox" name="sat" value="6" checked>$schedule_sat</TD>
	</TR>
	</TABLE>
</td></tr>
<!--<TR>
	<TD colspan="2" align="center">
	<input type="submit" name="add_schedule" value="$apply_mark" onClick="return wireless_schedule_add('an', 'add');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" name="edit_schedule" value="$cancel_mark" onClick="self.close();"></TD>
</TR>-->
</TABLE>
</div>
<% help_box("0","_wladv") %>
</FORM>
</BODY>
</HTML>
