<% echo_set("WLG_adv.htm", "/tmp/p_ft") %>
<% http_header("style/form.css", "/funcs.js", "/wlan_adv.js", "/wadv_sechdule.js", "/advanced.js", "/basic.js") %>
<% body_header("_wladv", "WLG_adv.htm", "wlan_adv") %>
<div class="page_title">$wlan_adv_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
	<input class='cancel_bt' type='button' name="Cancel" value='$cancel_mark' onClick='location.href="WLG_adv.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type="button" name="Apply" value="$apply_mark" onClick="return checkadv(document.forms[0]);">
        </TD>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<script>
<% refresh_timestamp("wlan_adv") %>
<% save_timestamp("wlan_adv", "wireless_schedule_select_to_edit", "wireless_schedule_delete", "wireless_schedule_delete_an") %>
var ts="<% cfg_get("wlan_adv") %>";

var gui_region="<% cfg_get("GUI_Region") %>";
var netgear_region="<% cat_file("/firmware_region") %>";
if(netgear_region == "")
	netgear_region = "WW";
//var netgear_region=top.netgear_region;
var country="<% cfg_get("wl_country") %>";
var wla_channel="<% cfg_get("wla_channel") %>";
var wps_progress_status="<% wps_process_status() %>";

//wireless schedule
var ntp_updated = "<% access_file("/tmp/ntp_updated") %>";
var wireless_schedule_flag = parent.wireless_schedule_flag;
<% wireless_schedule_items() %>
<% wireless_schedule_items_a() %>
var enable_schedule = "<% cfg_get("wladv_schedule_enable") %>";// b/g/n
var enalbe_shcedule_an = "<% cfg_get("wladv_schedule_enable_a") %>";// a/n

//For BUG 33420 to show transmit power control 63% and 33%
var txctl_63_33_flag = parent.txctl_63_33_flag;

// b/g/n
var old_wds_endis_fun="<% cfg_get("wds_endis_fun") %>";
var old_wla_wds_endis_fun="<% cfg_get("wla_wds_endis_fun") %>";
var old_wds_repeater_basic="<% cfg_get("wds_repeater_basic") %>";
var old_endis_wl_radio='<% enable_ap_orNot("bgn") %>';
var old_endis_ssid_broadcast='<% cfg_get("endis_ssid_broadcast") %>';
var security_mode='<% cfg_get("wl_sectype") %>';
var wlan_adv_wpspin="<% pin_num() %>";
var wlendis_pin='<% cfg_get("endis_pin") %>';
var wlendis_pin_tmp='<% cfg_get("wps_lock_down") %>';
var wps_status='<% cfg_get("wps_status") %>';
var wla_wps_status='<% cfg_get("wla_wps_status") %>';
var endis_wl_wmm="<% cfg_get("endis_wl_wmm") %>";
var old_endis_wireless_isolation='<% cfg_get("endis_wlg_wireless_isolation") %>';
var wl_mode="<% cfg_get("wl_simple_mode") %>";

// a/n
var old_wla_endis_wireless_isolation='<% cfg_get("endis_wla_wireless_isolation") %>';
var old_endis_wla_radio='<% enable_ap_orNot("an") %>';
var old_wla_endis_ssid_broadcast='<% cfg_get("wla_endis_ssid_broadcast") %>';
var endis_wla_wmm="<% cfg_get("endis_wla_wmm") %>";
var an_router_flag = parent.an_router_flag;
var qos_router_flag = parent.qos_router_flag;
var video_router_flag = parent.video_router_flag;
var transmit_router_flag = parent.transmit_router_flag;
var guest_router_flag=parent.guest_router_flag;
var wire_iso_flag=parent.wire_iso_flag;
var apmode_flag=parent.apmode_flag;
var wps_protect_pin_flag=parent.wps_protect_pin_flag;
var adv_coexistence_flag=top.adv_coexistence_flag;

var wds_support_wpa = top.wds_support_wpa;
var pr_flag = (( gui_region == "Chinese" && (netgear_region == "" || netgear_region.toUpperCase() == "WW")) || netgear_region.toUpperCase() == "PR") ? 1 : 0
var pr_wds_support_wpa=( wds_support_wpa == 1  && pr_flag == 1) ? 1 : 0;

var wps_protect='<% cfg_get("wps_pin_attack_check") %>';
var enable_ap_flag="<% cfg_get("ap_mode") %>";//bug 22880 according to the page 128 of spec 2.0,add AP mode
var dyn_get_ip_flag="<% cfg_get("ap_ether_ip_assign") %>";
var dyn_get_dns_flag="<% cfg_get("ap_ether_dns_assign") %>";

//Enable 20/40 MHz Coexistence: 0: enable, 1: disabled
var wl_disablecoext="<% cfg_get("wl_disablecoext") %>";

/*function apmode_display()
{
	var cf=document.forms[0];
	if(apmode_flag == 1)
	{
		document.getElementById("ap_bluebar").style.display="";
		document.getElementById("apmode").style.display="";
		document.getElementById("apmode_checkbox").style.display="";
	}
	else
	{
		document.getElementById("ap_bluebar").style.display="none";
		document.getElementById("apmode").style.display="none";
		document.getElementById("apmode_checkbox").style.display="none";
	}
}

function ap_display()
{
	var cf=document.forms[0];
	if(cf.enable_apmode.checked == true)
	{
		document.getElementById("ap_device_name").style.display="";
		document.getElementById("ap_dyn_getip").style.display="";
		document.getElementById("ap_addr").style.display="";
		document.getElementById("ap_mask").style.display="";
		document.getElementById("ap_dyn_dns").style.display="";
		document.getElementById("ap_daddr").style.display="";
		document.getElementById("ap_pdaddr").style.display="";
		document.getElementById("ap_gateway").style.display="";
	}
	else
	{
		document.getElementById("ap_device_name").style.display="none";
		document.getElementById("ap_dyn_getip").style.display="none";
		document.getElementById("ap_addr").style.display="none";
		document.getElementById("ap_mask").style.display="none";
		document.getElementById("ap_dyn_dns").style.display="none";
		document.getElementById("ap_daddr").style.display="none";
		document.getElementById("ap_pdaddr").style.display="none";
		document.getElementById("ap_gateway").style.display="none";
	}
}*/  //bug 30286

function wps_protection_display()
{
	var cf=document.forms[0];
	if( wps_protect_pin_flag == 1 )
	{
		if ( cf.pin_enable.checked == false || cf.pin_enable.disabled == true)
			document.getElementById("wladv_appin_cfg").style.display="none";
		else
			document.getElementById("wladv_appin_cfg").style.display="";
		if (cf.protect_enable.checked == false)
			cf.wps_fail_count.disabled = true;
		else
			cf.wps_fail_count.disabled = false;
	}
	else
	{
		document.getElementById("wladv_appin_cfg").style.display="none";
	}
}

function change_web_format()
{

	if( adv_coexistence_flag == 1 )
		document.getElementById("coexistence_line").style.display="";
        else
                document.getElementById("coexistence_line").style.display="none";

        if( guest_router_flag == 0 && wire_iso_flag == 1)
                document.getElementById("guestiso").style.display="";
        else
                document.getElementById("guestiso").style.display="none";
		
		//bug 21638:remove the "Enable Wireless Isolation" in advanced wireless settings page
		//spec1.9-p125:It is a checkbox "Enable Wireless Isolation" below "Enable Wireless Router Radio" 
		//in the "Advanced Wireless Settings" page if the product doesn't support guest network.
		if( guest_router_flag == 0 && wire_iso_flag == 1 && an_router_flag ==1)
			document.getElementById("guestiso_an").style.display="";
		else
			document.getElementById("guestiso_an").style.display="none";
		
		if( qos_router_flag == 0 )
                document.getElementById("wmm_qos").style.display="";
        else
                document.getElementById("wmm_qos").style.display="none";

        if( video_router_flag == 0 )
                document.getElementById("ssid_bgn").style.display="";
	else
		document.getElementById("ssid_bgn").style.display="none";

	if( transmit_router_flag == 1 )
		document.getElementById("power_ctrl_bgn").style.display="";
	else
		document.getElementById("power_ctrl_bgn").style.display="none";

	if(wireless_schedule_flag == 1)
	{
		document.getElementById("schedule_bgn_enable").style.display="";
		document.getElementById("schedule_bgn_head").style.display="";
		document.getElementById("schedule_bgn_table").style.display="";
		document.getElementById("schedule_bgn_button").style.display="";
	}
	else
	{
		document.getElementById("schedule_bgn_enable").style.display="none";
		document.getElementById("schedule_bgn_head").style.display="none";
		document.getElementById("schedule_bgn_table").style.display="none";
		document.getElementById("schedule_bgn_button").style.display="none";
	}

	/* a/n */
	if( an_router_flag == 1 ){
		document.getElementById("adv_wlan_an").style.display="";
		document.getElementById("ap_an").style.display="";
		if( video_router_flag == 0 )
			document.getElementById("ssid_an").style.display="";
		else
			document.getElementById("ssid_an").style.display="none";	
		document.getElementById("frag_an").style.display="";
		document.getElementById("rts_an").style.display="";
		document.getElementById("pream_an").style.display="";
		document.getElementById("blue_an").style.display="";
		//document.getElementById("wlaadv_keep_exist").style.display="";
	        if( qos_router_flag == 0 )
	                document.getElementById("wmm_qos_an").style.display="";
	        else
        	        document.getElementById("wmm_qos_an").style.display="none";
		if( transmit_router_flag == 1 )
			document.getElementById("power_ctrl_an").style.display="";
		else
			document.getElementById("power_ctrl_an").style.display="none";
		
		/*wireless schedule*/
		if(wireless_schedule_flag == 1)
		{
			document.getElementById("schedule_an_enable").style.display="";
			document.getElementById("schedule_an_head").style.display="";
			document.getElementById("schedule_an_table").style.display="";
			document.getElementById("schedule_an_button").style.display="";
		}
		else
		{
			document.getElementById("schedule_an_enable").style.display="none";
			document.getElementById("schedule_an_head").style.display="none";
			document.getElementById("schedule_an_table").style.display="none";
			document.getElementById("schedule_an_button").style.display="none";
		}
	}
	else{
		document.getElementById("adv_wlan_an").style.display="none";
		document.getElementById("ap_an").style.display="none";
		document.getElementById("ssid_an").style.display="none";
		document.getElementById("frag_an").style.display="none";
		document.getElementById("rts_an").style.display="none";
		document.getElementById("pream_an").style.display="none";
		document.getElementById("blue_an").style.display="none";
		//document.getElementById("wlaadv_keep_exist").style.display="none";
		document.getElementById("wmm_qos_an").style.display="none";
		document.getElementById("power_ctrl_an").style.display="none";

		/*wireless schedule*/
		document.getElementById("schedule_an_enable").style.display="none";
		document.getElementById("schedule_an_head").style.display="none";
		document.getElementById("schedule_an_table").style.display="none";
		document.getElementById("schedule_an_button").style.display="none";

	}
	
}

function loadvalue()
{
	var form=document.forms[0];

	top.enable_ap_flag="<% cfg_get("ap_mode") %>";	
	//bug 29873 [Wireless]The GUI should show wireless radio as checked when user enable wireless router radio
	//menu_color_change('wladv');
	change_web_format();
	//apmode_display();
	
	//form.device_name.value="<!--% cfg_sed("ap_netbiosname") %-->";

	if( wps_protect_pin_flag == 1 )
	{
		document.getElementById("wladv_enable_wps").style.display = "";
		document.getElementById("wladv_endis_wps").style.display = "none";
	}
	else
	{
		document.getElementById("wladv_enable_wps").style.display = "none";
		document.getElementById("wladv_endis_wps").style.display = "";
	}

	top.enabled_wps=<% wps_menu() %>;
	top.enabled_wds=<% wds_enable() %>;
        if( top.location.href.indexOf("adv_index.htm") != -1 )
                menu_color_change('wladv');
        else //bug23925 in basic page: if the radio is Off, the wireless button will link to wladv page.
	{
		top.endis_wl_radio=old_endis_wl_radio;
		top.endis_wla_radio=old_endis_wla_radio;
		basic_menu_color_change('wireless');
	}


	var wlan_get_pream='<% cfg_get("wl_plcphdr") %>';
	var wlan_get_pream_a='<% cfg_get("wla_plcphdr") %>';

	if(wlan_get_pream == '2')
		form.enable_shortpreamble[2].selected = true;
	else if (wlan_get_pream == '1')
		form.enable_shortpreamble[1].selected = true;
	else
		form.enable_shortpreamble[0].selected = true;
	if(wlan_get_pream_a == '2')
		form.enable_shortpreamble_an[2].selected = true;
	else if(wlan_get_pream_a == '1')
		form.enable_shortpreamble_an[1].selected = true;
	else
		form.enable_shortpreamble_an[0].selected = true;	

	form.tx_power_ctrl.value='<% cfg_get("wl_tpscale") %>';
	form.tx_power_ctrl_an.value='<% cfg_get("wla_tpscale") %>';

	form.rts.value = '<% cfg_get("wl_rts") %>';
	form.rts_an.value = '<% cfg_get("wla_rts") %>';

	form.frag.value = '<% cfg_get("wl_frag") %>';
	form.frag_an.value = '<% cfg_get("wla_frag") %>';
	
	/*if(enable_ap_flag == '1')
		form.enable_apmode.checked = true;
	else
		form.enable_apmode.checked = false;
	ap_display();
	if(dyn_get_ip_flag == '1')
		form.dyn_get_ip.checked = true;
	else
		form.dyn_get_ip.checked = false;*/
	//setIP(form);
	/*var apmode_get_ip="<% ap_mode_ip() %>";
	if (apmode_get_ip!="")
	{
		var ip_array=apmode_get_ip.split('.');
		form.APaddr1.value=ip_array[0];
		form.APaddr2.value=ip_array[1];
		form.APaddr3.value=ip_array[2];
		form.APaddr4.value=ip_array[3];
	}
	var apmode_get_subnet="<% ap_mode_netmask() %>";
	if (apmode_get_subnet!="")
	{
		var mask_array=apmode_get_subnet.split('.');
		form.APmask1.value=mask_array[0];
		form.APmask2.value=mask_array[1];	
		form.APmask3.value=mask_array[2];
		form.APmask4.value=mask_array[3]; 
	}
	var apmode_get_gateway="<% ap_mode_gateway() %>";
	if (apmode_get_gateway!="")
	{
		var gtw_array=apmode_get_gateway.split('.');
		form.APgateway1.value=gtw_array[0];
		form.APgateway2.value=gtw_array[1];
		form.APgateway3.value=gtw_array[2];
		form.APgateway4.value=gtw_array[3];	
	}
	if(dyn_get_dns_flag == '1')
		form.dyn_get_dns.checked = true;
	else
		form.dyn_get_dns.checked = false;
	setDNS(form);
	var apmode_get_dns1="<% ap_ether_dns() %>";
	if (apmode_get_dns1!="" && apmode_get_dns1.indexOf(":")==-1)
	{
		var dns1_array=apmode_get_dns1.split('.');
		form.APDAddr1.value=dns1_array[0];
		form.APDAddr2.value=dns1_array[1];
		form.APDAddr3.value=dns1_array[2];
		form.APDAddr4.value=dns1_array[3];
	}
	var apmode_get_dns2="<% ap_ether_dns("1") %>";
	if (apmode_get_dns2!="" && apmode_get_dns2.indexOf(":")==-1)
	{
		var dns2_array=apmode_get_dns2.split('.');
		form.APPDAddr1.value=dns2_array[0];
		form.APPDAddr2.value=dns2_array[1];
		form.APPDAddr3.value=dns2_array[2];
		form.APPDAddr4.value=dns2_array[3];
	}*/

	if(old_endis_wl_radio=='1')
		form.enable_ap.checked = true;
	else
		form.enable_ap.checked = false;
	if(old_endis_wla_radio=='1')
		form.enable_ap_an.checked = true;
	else
		form.enable_ap_an.checked = false;	


	// Enable 20/40 MHz Coexistence
	if(wl_mode == "1" || wl_mode == "2")
	{
		getObj('coexistence_line').color = 'gray';
		form.enable_coexist.checked = false;
		form.enable_coexist.disabled=true;
	}
	else
	{
		if( wl_disablecoext == "0" )
			form.enable_coexist.checked = true;
		else
			form.enable_coexist.checked = false;
	}
	//wireless schedule
	if(enable_schedule == "1")
		form.wirless_schedule.checked = true;
	else
		form.wirless_schedule.checked = false;

	if(enalbe_shcedule_an == "1")
		form.wirless_schedule_an.checked = true;
	else
		form.wirless_schedule_an.checked = false;

	check_schedule_onoff();



	if(old_endis_ssid_broadcast=='1')
		form.ssid_bc.checked = true;
	else
		form.ssid_bc.checked = false;
	if(old_endis_wireless_isolation=='1')
		form.enable_isolation.checked = true;
	else
		form.enable_isolation.checked = false;
	
	if(old_wla_endis_ssid_broadcast=='1')
		form.ssid_bc_an.checked = true;
	else
		form.ssid_bc_an.checked = false;
	if(old_wla_endis_wireless_isolation=='1')
		form.enable_isolation_an.checked = true;
	else
		form.enable_isolation_an.checked = false;
	if(endis_wl_wmm == "1")
		form.wmm_enable.checked = true;
	else
		form.wmm_enable.checked = false;
	if(endis_wla_wmm == "1")
		form.wmm_enable_a.checked = true;
	else
		form.wmm_enable_a.checked = false;	

	if((wlendis_pin == '1') || (wlendis_pin_tmp == '1'))
	{
		form.pin_disable.checked = true;
		form.pin_enable.checked = false;
	}
	else
	{
		form.pin_disable.checked = false;
		form.pin_enable.checked = true;
	}
	/*bug28582 There should be only one "Keep Existing Wireless Settings" option.*/
	if (wps_status == '5' || (an_router_flag ==1 && wla_wps_status == '5'))
		form.wsc_config.checked = true;
	else if (wps_status == '1' || (an_router_flag ==1 && wla_wps_status == '1'))
		form.wsc_config.checked = false;
	/*if (wla_wps_status == '5')
                form.wsc_config_a.checked = true;
        else if (wla_wps_status == 1)
                form.wsc_config_a.checked = false;*/
	if ((wlendis_pin == '1') || (wlendis_pin_tmp == '1'))
	{
		getObj('wladv_pin').color = 'gray';
	}

	if( wps_protect_pin_flag == 1 )
	{
		if (wps_protect == '0')
			form.protect_enable.checked = false;
		else
			form.protect_enable.checked = true;
	}
					
	wps_protection_display();
	if(top.enabled_wps == 0)   //33156
	{
		getObj('wladv_pin').color = 'gray';	
		getObj('wladv_enable_wps').color = 'gray';
		getObj('wladv_endis_wps').color = 'gray';	
		getObj('wladv_keep_exist').color = 'gray';	
		//getObj('wlaadv_keep_exist').color = 'gray';
		form.pin_enable.disabled=true;
		form.pin_disable.disabled=true;
		form.wsc_config.disabled=true;		
		//form.wsc_config_a.disabled=true;
		getObj('wladv_appin_cfg').color = 'gray';
		form.wps_fail_count.disabled = true;
		form.protect_enable.disabled = true;
	}
}
</script>
<input type="hidden" name="wl_rts">
<input type="hidden" name="wl_frag">
<input type="hidden" name="wl_enable_ssid_broadcast">
<input type="hidden" name="wl_enable_shortpreamble">
<input type="hidden" name="wl_tx_ctrl">
<input type="hidden" name="wl_enable_router" value="ignore">
<input type="hidden" name="endis_pin" value=1>
<input type="hidden" name="hid_protect_enable">
<input type="hidden" name="wlg_endis_wireless_isolation">
<input type="hidden" name="wla_endis_wireless_isolation">

<input type="hidden" name="wla_rts">
<input type="hidden" name="wla_frag">
<input type="hidden" name="wla_enable_ssid_broadcast">
<input type="hidden" name="wla_enable_shortpreamble">
<input type="hidden" name="wla_tx_ctrl">
<input type="hidden" name="wla_enable_router" value="ignore">

<input type="hidden" name="wds_change_ip">
<input type="hidden" name="enable_router" value="ignore">
<input type="hidden" name="enable_ssid_broadcast" value="ignore">
<input type="hidden" name="endis_wsc_config" value=5>
<input type="hidden" name="endis_wsc_config_a" value=5>

<input type="hidden" name="wladv_endis_wmm">
<input type="hidden" name="wladv_endis_wmm_a">
<!--input type="hidden" name="hid_enable_apmode"-->
<input type="hidden" name="hid_dyn_get_ip">
<!--input type="hidden" name="hid_dyn_get_dns"-->
<input type="hidden" name="hid_ap_ipaddr">
<input type="hidden" name="hid_ap_subnet">
<input type="hidden" name="hid_ap_gateway">
<input type="hidden" name="ap_dnsaddr1">
<input type="hidden" name="ap_dnsaddr2">

<input type="hidden" name="wladv_enable_schedule" value="">
<input type="hidden" name="wladv_enable_schedule_a" value="">
<input type="hidden" name="wladv_schedule_type" value="">
<input type="hidden" name="wladv_schedule_edit_num" value="">
<input type="hidden" name="wladv_schedule_delete_num" value="">
<input type="hidden" name="hid_enable_coexist">
<TR>
	<TD nowrap colspan=2>
	<A tabindex=-1 href="javascript:loadhelp('_wladv','settings')"><B>$adva_wlan_setting <script>if(an_router_flag == 1) document.write("(2.4GHz b/g/n)");</script> </B></A>
	</TD>
</TR>	
<TR>
	<TD nowrap colspan=2>
	<input type="checkbox" name="enable_ap" value="1" onClick="check_schedule_onoff();">$adva_wlan_router
	</TD>
</TR>
<TR id="coexistence_line">
	<TD nowrap colspan=2>
	<input type="checkbox" name="enable_coexist">$adva_enable_coexistence
	</TD>
</TR>
<TR id=guestiso>
	<TD nowrap>
	<input type="checkbox" name="enable_isolation" value="1">$guest_wire_iso
	</TD>
</TR>
<TR id=ssid_bgn>
	<TD nowrap>
	<input type="checkbox" name="ssid_bc" value="1">$adva_wlan_ssid_broadcast
	</TD>
</TR> 
<TR id=wmm_qos>
	<TD nowrap><input type="checkbox" name="wmm_enable" value="1">$qos_enable_wmm <script>if(an_router_flag == 1) document.write("(2.4GHz b/g/n)");</script></TD>
</TR>
<TR>
	<TD nowrap>$wlan_adv_szFrag_11g</TD>
	<TD nowrap>
	<input type="text" maxLength=4 size=5 name="frag" value="2346" onFocus="this.select();" onKeyPress="return getkey('num', event)">
	</TD>
</TR>
<TR>
	<TD nowrap>$wlan_adv_szRts_11g</TD>
	<TD nowrap>
	<input maxLength=4 size=5 name="rts" value="2347" onFocus="this.select();" onKeyPress="return getkey('num', event)">
	</TD>
</TR>
<TR>
	<TD nowrap>$adva_wlan_pream</TD>
	<TD nowrap>
	<select name="enable_shortpreamble">
		<option value="0">$sec_auto</option>
		<option value="1">$adva_wlan_pream_short</option>
		<option value="2">$adva_wlan_pream_long</option>
	</select>
	</TD>
</TR>
<TR id=power_ctrl_bgn>
	<TD nowrap>$adva_wlan_txctrl</TD>
	<TD nowrap>
	<select name="tx_power_ctrl">
		<option value="100">100%</option>
		<option value="75">75%</option>
<!-- For BUG 33420 to show transmit power control 63% and 33% -->
<script>
	if( txctl_63_33_flag == 1)
		document.write('<option value="63">63%</option>');
</script>
		<option value="50">50%</option>
<script>
	if( txctl_63_33_flag == 1)
		document.write('<option value="33">33%</option>');
</script>
		<option value="25">25%</option>
	</select>
	</TD>
</TR>
<TR id="schedule_bgn_enable" ><TD colspan="2" nowrap ><input type="checkbox" name="wirless_schedule"  value="1" onClick="enable_schedule_button();"><A tabindex=-1 href="javascript:loadhelp('_wladv','schedule')"><b>$adva_signal_schedule</b></A></TD></TR>
<TR id="schedule_bgn_head"><TD colspan="2" nowrap><b>$adva_schedule_table_head</b></TD></TR>
<TR id="schedule_bgn_table">
	<TD colspan="2" nowrap>
	<TABLE border="1" cellpadding="2" cellspacing="1" width="80%" align="left">
	<TR>
		<TD nowrap width="15%" align="left"><span class="subhead">$adva_period</span></TD>
		<TD nowrap width="20%" align="left"><span class="subhead">$adva_start</span></TD>
		<TD nowrap width="20%" align='left'><span class="subhead">$adva_end</span></TD>
		<TD nowrap align="left"><span class="subhead">$adva_recur_pattern</span></TD>
	</TR>
	<script>
	if(wireless_schedule_num > 0)
	{
		var i = 0, j = 0, n = 0;

		for(i=1; i<=wireless_schedule_num; i++)
		{
			var str = eval("wireless_schedule_array" + i);
			str = remove_space(str);
			var each_info = str.split("-");

			document.write('<TR>');
			document.write('<TD nowrap align="center"><input type="radio" name="wireless_schedule_item" value="'+i+'"></TD>');
			if((gui_region=="German" && netgear_region=="WW") || netgear_region=="GR")
			{
				n = parseInt(each_info[0], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_24[n]+'</TD>');

				n = parseInt(each_info[1], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_24[n]+'</TD>');
			}
			else
			{
				n = parseInt(each_info[0], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_12[n]+'</TD>');

				n = parseInt(each_info[1], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_12[n]+'</TD>');
			}

			document.write('<TD nowrap align="left">');
			if(each_info[2] == "Daily")
				document.write(each_info[2]);
			else if(each_info[2] == "")
				document.write("&nbsp;");
			else
			{
				var day_num = each_info[2].split(",");
				for(j=0; j<day_num.length; j++)
				{
					n = parseInt(day_num[j], 10);
					document.write(week_days[n] + " ");
				}
				document.write('</TD>');
				document.write('</TR>');
			}
		}
	}
	</script>
	</TABLE>
	</TD>
</TR>
<TR id="schedule_bgn_button"><TD colspan=2 align="center" nowrap>
	<input type="button" name="add_period" value="$adva_period_add" onClick='return check_wireless_schedule("bgn", "add");'>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" name="edit_period" value="$edit_mark" onClick='return check_wireless_schedule("bgn", "edit");'>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" name="delete_period" value="$delete_mark" onClick='return check_wireless_schedule("bgn", "delete");'>
	</TD>
</TR>
$bluebar
<TR id=adv_wlan_an>
        <TD nowrap colspan=2>
        <A tabindex=-1 href="javascript:loadhelp('_wladv','settings')"><B>$adva_wlan_setting (5GHz a/n) </B></A>
        </TD>
</TR>
<TR id=ap_an>
        <TD nowrap>
        <input type="checkbox" name="enable_ap_an" value="1" onClick="check_schedule_onoff();">$adva_wlan_router
        </TD>
</TR>
<TR id=guestiso_an>
	<TD nowrap>
	<input type="checkbox" name="enable_isolation_an" value="1">$guest_wire_iso
	</TD>
</TR>
<TR id=ssid_an>
        <TD nowrap>
        <input type="checkbox" name="ssid_bc_an" value="1">$adva_wlan_ssid_broadcast
        </TD>
</TR>
<TR id=wmm_qos_an>
	<TD nowrap>
	<input type="checkbox" name="wmm_enable_a" value="1"><a tabindex=-1 href="javascript:loadhelp('_wladv','wifi')"><b>$qos_enable_wmm (5GHz a/n)</b></a>
	</TD>
</TR>
<TR id=frag_an>
        <TD nowrap>$wlan_adv_szFrag_11g</TD>
        <TD nowrap>
        <input type="text" maxLength=4 size=5 name="frag_an" value="2346" onFocus="this.select();" onKeyPress="return getkey('num', event)">
        </TD>
</TR>
<TR id=rts_an>
        <TD nowrap>$wlan_adv_szRts_11g</TD>
        <TD nowrap>
        <input maxLength=4 size=5 name="rts_an" value="2347" onFocus="this.select();" onKeyPress="return getkey('num', event)">
        </TD>
</TR>
<TR id=pream_an>
        <TD nowrap>$adva_wlan_pream</TD>
        <TD nowrap>
        <select name="enable_shortpreamble_an">
                <option value="0">$sec_auto</option>
                <option value="1">$adva_wlan_pream_short</option>
                <option value="2">$adva_wlan_pream_long</option>
        </select>
        </TD>
</TR>
<TR id=power_ctrl_an>
	<TD nowrap>$adva_wlan_txctrl</TD>
	<TD nowrap>
	<select name="tx_power_ctrl_an">
		<option value="100">100%</option>
		<option value="75">75%</option>
<!-- For BUG 33420 to show transmit power control 63% and 33% -->
<script>
	if( txctl_63_33_flag == 1)
		document.write('<option value="63">63%</option>');
</script>
		<option value="50">50%</option>
<script>
	if( txctl_63_33_flag == 1)
		document.write('<option value="33">33%</option>');
</script>
		<option value="25">25%</option>
	</select>
	</TD>
</TR>
<TR id=schedule_an_enable><TD colspan="2" nowrap><input type="checkbox" name="wirless_schedule_an" value="1" onClick="enable_schedule_button();"><A tabindex=-1 href="javascript:loadhelp('_wladv','schedule')"><b>$adva_signal_schedule</b></A></TD></TR>
<TR id=schedule_an_head><TD colspan="2" nowrap><b>$adva_schedule_table_head</b></TD></TR>
<TR id=schedule_an_table>
	<TD colspan="2" nowrap>
	<TABLE border="1" cellpadding="2" cellspacing="1" width="80%" align="left">
	<TR>
		<TD nowrap width="15%" align="left"><span class="subhead">$adva_period</span></TD>
		<TD nowrap width="20%" align="left"><span class="subhead">$adva_start</span></TD>
		<TD nowrap width="20%" align='left'><span class="subhead">$adva_end</span></TD>
		<TD nowrap align="left"><span class="subhead">$adva_recur_pattern</span></TD>
	</TR>
	<script>
	if(wireless_schedule_num_a > 0)
	{
		var i = 0, j = 0, n = 0;

		for(i=1; i<=wireless_schedule_num_a; i++)
		{
			var str = eval("wireless_schedule_array_a" + i);
			str = remove_space(str);
			var each_info = str.split("-");

			document.write('<TR>');
			document.write('<TD nowrap align="center"><input type="radio" name="wireless_schedule_item_a" value="'+i+'"></TD>');

			if((gui_region=="German" && netgear_region=="WW") || netgear_region=="GR")
			{
				n = parseInt(each_info[0], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_24[n]+'</TD>');

				n = parseInt(each_info[1], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_24[n]+'</TD>');
			}
			else
			{
				n = parseInt(each_info[0], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_12[n]+'</TD>');

				n = parseInt(each_info[1], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_12[n]+'</TD>');
			}

			document.write('<TD nowrap align="left">');
			if(each_info[2] == "Daily")
				document.write(each_info[2]);
			else if(each_info[2] == "")
				document.write("&nbsp;");
			else
			{
				var day_num = each_info[2].split(",");
				for(j=0; j<day_num.length; j++)
				{
					n = parseInt(day_num[j], 10);
					document.write(week_days[n] + " ")
				}
				document.write('</TD>');
				document.write('</TR>');
			}
		}
	}
	</script>
	</TABLE>
	</TD>
</TR>
<TR id=schedule_an_button><TD colspan=2 align="center" nowrap>
	<input type="button" name="add_period_an" value="$adva_period_add" onClick='return check_wireless_schedule("an", "add");'>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" name="edit_period_an" value="$edit_mark" onClick='return check_wireless_schedule("an", "edit");'>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" name="delete_period_an" value="$delete_mark" onClick='return check_wireless_schedule("an", "delete");'>
	</TD>
</TR>
<TR id=blue_an><TD colspan=2><img src=/liteblue.gif width=100% height=12></TD></TR>
<TR>
	<TD nowrap>
	<B><A tabindex=-1 href="javascript:loadhelp('_wladv','wps')">$wlan_adv_wps</A></B>
	</TD> 
</TR>
<TR id='wladv_pin'>
	<TD nowrap>$wlan_adv_routerpin:</TD>
	<TD nowrap><B>$<script>document.write(wlan_adv_wpspin);</script></B></TD>
</TR>
<TR id='wladv_endis_wps'>
	<TD nowrap colspan=2 >
	<input type="checkbox" name="pin_disable" value=1>$wlan_adv_endis_pin<script>if( "<% cfg_get("wps_lock_down") %>" == "1" ) document.write("$temporarily_mark");</script>
	</TD>
</TR>
<TR id='wladv_enable_wps'>
	<TD nowrap colspan=2 >
	<input type="checkbox" name="pin_enable" value=1 onClick="wps_protection_display()">$wlan_adv_enable_pin<script>if( "<% cfg_get("wps_lock_down") %>" == "1" ) document.write("$temporarily_mark_v11");</script>
	</TD>
</TR>
<TR id='wladv_appin_cfg'>
	<TD nowrap colspan=2 ><img src=/spacer.gif width=20 height=12 border=0>
	<input type="checkbox" name="protect_enable" onClick="wps_protection_display()">$wlan_adv_wps_pin1
	<input type="text" name="wps_fail_count" size="3" maxlength="3" value="<% cfg_get("wps_pin_attack_num") %>" onKeyPress="return getkey('num', event)">$wlan_adv_wps_pin2
	<BR><img src=/spacer.gif width=20 height=12 border=0><img src=/spacer.gif width=20 height=12 border=0>$wlan_adv_wps_pin3
	</TD>
</TR>
<!--bug28582 There should be only one "Keep Existing Wireless Settings" option.-->
<TR id='wladv_keep_exist'>
	<TD nowrap colspan=2 >
	<input type="checkbox" name="wsc_config" value="on">$wlan_adv_keep <!--<script> if( an_router_flag == 1) document.write("(2.4GHz b/g/n)");</script>-->
	</TD>
</TR>
<!--<TR id='wlaadv_keep_exist'>
        <TD nowrap colspan=2 >
	<input type="checkbox" name="wsc_config_a" value="on">$wlan_adv_keep (5GHz a/n)
        </TD>
</TR>-->
<TR id=ap_bluebar><TD colspan=2><img src=/liteblue.gif width=100% height=12></TD></TR>
<!--<TR id=apmode>
	<TD nowrap colspan=2 ><A tabindex=-1 href="javascript:loadhelp('_wladv','apmode')"><B>$ap_mode</B></A></TD>
</TR>
<TR id=apmode_checkbox>
	<TD nowrap colspan=2 >
	<input type="checkbox" name="enable_apmode" onclick="ap_display()">$able_ap_mode
	</TD>
</TR>
<TR id=ap_device_name>
	<TD nowrap><img src=/spacer.gif width=20 height=12 border=0>$lan_mark_name</TD>
	<TD nowrap align=right><input type="text" name="device_name" size="20" maxlength="12" value=""></TD>
</TR>
<TR id=ap_dyn_getip>
	<TD nowrap colspan=2 ><img src=/spacer.gif width=20 height=12 border=0>
		<input type="checkbox" name="dyn_get_ip" onclick="setIP(document.forms[0])">$lan_ip_dyn
	</TD>
</TR>
<TR id=ap_addr>
	<TD nowrap><img src=/spacer.gif width=20 height=12 border=0><img src=/spacer.gif width=20 height=12 border=0>$wds_ipaddr</TD>
	<TD nowrap align=right>
		<input type="text" name="APaddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
		<input type="text" name="APaddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
		<input type="text" name="APaddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
		<input type="text" name="APaddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR id=ap_mask>
	<TD nowrap><img src=/spacer.gif width=20 height=12 border=0><img src=/spacer.gif width=20 height=12 border=0>$lan_mark_subnet</TD>		
	<TD nowrap align=right>
		<input type="text" name="APmask1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
		<input type="text" name="APmask2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
		<input type="text" name="APmask3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
		<input type="text" name="APmask4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD> 
</TR>
<TR id=ap_gateway>
	<TD nowrap><img src=/spacer.gif width=20 height=12 border=0><img src=/spacer.gif width=20 height=12 border=0>$lan_mark_gateway</TD>		
	<TD nowrap align=right>
		<input type="text" name="APgateway1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
		<input type="text" name="APgateway2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
		<input type="text" name="APgateway3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
		<input type="text" name="APgateway4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR id=ap_dyn_dns>
	<TD nowrap colspan=2 ><img src=/spacer.gif width=20 height=12 border=0>
		<input type="checkbox" name="dyn_get_dns" onclick="setDNS(document.forms[0])">$dyn_dns
	</TD>
</TR>
<TR id=ap_daddr>
	<TD nowrap><img src=/spacer.gif width=20 height=12 border=0><img src=/spacer.gif width=20 height=12 border=0>$basic_int_primary_dns</TD>
	<TD nowrap align=right>
	<input type="text" name="APDAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="APDAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="APDAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="APDAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR id=ap_pdaddr>
	<TD nowrap><img src=/spacer.gif width=20 height=12 border=0><img src=/spacer.gif width=20 height=12 border=0>$basic_int_second_dns</TD>
	<TD nowrap align=right>
	<input type="text" name="APPDAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="APPDAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="APPDAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="APPDAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
$bluebar-->
<TR>
	<TD nowrap>
	<A tabindex=-1 href="javascript:loadhelp('_wladv','access')"><B>$wlan_wlacl</B></A>
	</TD>
	<TD nowrap>
	<input class="common_big_bt" type="button" name="access" value="$setup_acl" onClick="location.href='WLG_acl.htm'">
	</TD>
</TR>
<TR><TD>&nbsp;</TD></TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_wladv") %>
</FORM>
</BODY>
</HTML>
