<% http_header("style/form.css", "/funcs.js", "/backup.js") %>

<BODY onload="loadhelp('_backup');" bgcolor=#ffffff>
<FORM action="NETGEAR_WNDR3700.cfg" method="post" enctype="multipart/form-data">
<div class="page_title">$backup_head</div>
<div id="main" class="main">
<script>
var wds_endis_fun='<% cfg_get("wds_endis_fun") %>';
var wds_endis_fun_a="<% cfg_get("wla_wds_endis_fun") %>";
var wds_repeater_basic='<% cfg_get("wds_repeater_basic") %>';
var wds_repeater_basic_a="<% cfg_get("wds_repeater_basic_a") %>";
var endis_wl_radio='<% enable_ap_orNot("bgn") %>';
var endis_wla_radio='<% enable_ap_orNot("an") %>';

</script>
<% table_header() %>
$bluebar


<TR>
	<TD nowrap>
	<A tabindex=-1 href="javascript:loadhelp('_backup','save')"><B>$backup_save_settings</B></A>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2 align=center>
	<input class="common_key_bt" type="BUTTON" name="Backup" value="$backup_mark" onClick="click_backup()">
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap>
	<A tabindex=-1 href="javascript:loadhelp('_backup','restore')"><B>$backup_restore</B></A>
	</TD>
</TR>
<TR>
	<TD nowrap>
	<input type="FILE" name="mtenRestoreCfg" value="" size="40" maxlength="128">
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2 align=center>
	<input class="common_key_bt" type="submit" name="mtenRestore" value="$restore_mark" onClick="check_restore();return false;">
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap>
	<A tabindex=-1 href="javascript:loadhelp('_backup','revert')"><B>$backup_factory</B></A>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2 align=center>
	<input class="common_key_bt" type="button" name="defaults" value="$erase_mark" onClick="location.href='BAK_factory.htm';">
	</TD>
</TR>
$bluebar
</TABLE>

</div>
<% help_box("1","_backup") %>
</FORM>
</BODY>
</HTML>
