<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<!--link rel="stylesheet" type="text/css" href="hdd_cd_less.css" /-->
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<link rel="stylesheet" type="text/css" href="style/form.css" />
<script language="javascript" type="text/javascript" src="hdd_is_Mac.js"></script>
</head>
<style type="text/css">
<!--
A {
	COLOR: blue; TEXT-DECORATION: underline; font-size:10pt; font-family:Times;
}
.checked_img{background: url(/image/hdd/checked.jpg) no-repeat center}
.unchecked_img{background: url(/image/hdd/uncheck.jpg) no-repeat center}

-->
</style>
<% form_submit("apply", "BRS_hdd_download_href.htm", "hdd_download")  %>
<input type="hidden" name="download_desktop_genie" value="1" />
<input type="hidden" name="download_readyshare" value="1" />

<script language="javascript" type="text/javascript">
var ts="";
<% hijack_hdd_success() %><!--set hijack_process to 3 and set dns_hijack to 0, and run /usr/sbin/dns-hijack-->
<% cfg_set("hddnofind", "0") %>
<% commit() %>
var is_Mac = detectOS();

var RS_num=1;
var genie_mac_num=1;
var genie_num=1;
</script>
	
<div id="choices_div" class="wizard_words_div">
	<TABLE align="center" width=80% border=0 cellpadding=0 cellspacing=1>
		<TR height=40px;> <TD colspan=2 class="st_header_font">$install_netgear </TD></TR>
		<tr height=40px;>
		<script>
                                if( is_Mac == "Mac")
                                {
                                        document.write(' <td nowrap height=25px; width=25px;>')
                                        document.write(' <div id="genie_mac" class="checked" onclick="genie_mac_choose(genie_mac_num, document.forms[0]);genie_mac_num++;"> </div> ')
                                        document.write('</td>')
                                        document.write('<td height=40px;><b class="choice_font"><a style="cursor:pointer;" href="http://www.netgear.com/genie" target="_blank">$mac_genie</a> $backup_home_network</b></td>');
                                }
                                else
                                {
                                        document.write('<td nowrap height=25px; width=25px; >')
                                        document.write('<div id="genie_chice" class="checked" onclick="genie_choose(genie_num, document.forms[0]);genie_num++;"></div>')
                                        document.write('</td>')
                                        document.write('<td height=40px;><b class="choice_font"><a style="cursor:pointer;" href="http://www.netgear.com/genie" target="_blank">$genie</a> $backup_home_network</b></td>');
                                }
                                </script>
				<!--input type="checkbox" name="help_choice"  checked="checked" /><b class="choice_font">Yes, Install ReadySHARE Vault</b-->
			</tr>
			<tr>			
			<script>
			if( is_Mac != "Mac" )
			{
				document.write('<td nowrap height=25px; width=25px;>');
				 document.write('<div id="RS_choose" class="checked"  src="checked.jpg" onclick="choose_RS(RS_num, document.forms[0]);RS_num++;"></div>');
				document.write('</td>');
				document.write('<td height=40px;><b class="choice_font">$win_readshare</b></td>');
			}
			else
			{
				document.write('<td colspan=2 height=40px;><b class="choice_font">To backup your Mac Computer, please use Time Machine software.</b></td>');
			}
			</script>
			</tr>
			</TABLE>
</div>

	<div id="buttons_div_02" class="wizard_buttons_div" align="center">
		<TABLE align=center width="90%" border=0 cellpadding=0 cellspacing=2>
         <TR>
		 <TD nowrap  align=left>
		<INPUT  class="short_common_hdd" type='button' name="exit" value='$exit_mark' onClick='click_exit()'></TD>
	   <TD nowrap  align=right>
		  <INPUT class="short_common_hdd" type='button' name="Next" value='< $previous_mark' onClick='click_pre()'>&nbsp;&nbsp;&nbsp;&nbsp;
	      <INPUT class="short_common_hdd" type='button' name="Next" value='$next_mark >' onClick='readshare_next( document.forms[0])'>
	       </TD>
       </TR>

      </TABLE>
	</div>
	
<!--/div-->
<script>
function choose_RS(n, cf)
{
	if(  document.getElementById("RS_choose").className == "checked")
	{
		document.getElementById("RS_choose").className = "uncheck"
		cf.download_readyshare.value = "0";
	}
	else
	{
		document.getElementById("RS_choose").className = "checked"
		cf.download_readyshare.value = "1";
	}	
		//alert(RS_num);
}
function genie_mac_choose(n, cf)
{
	if( document.getElementById("genie_mac").className == "checked")
	{
		document.getElementById("genie_mac").className = "uncheck"
		cf.download_desktop_genie.value = "0";
	}
	else
	{
		document.getElementById("genie_mac").className = "checked"
		cf.download_desktop_genie.value = "1";
	}
}

function genie_choose(n, cf)
{
        if( document.getElementById("genie_chice").className == "checked")
        {
                document.getElementById("genie_chice").className = "uncheck"
                cf.download_desktop_genie.value = "0";
        }
        else
        {
                document.getElementById("genie_chice").className = "checked"
                cf.download_desktop_genie.value = "1";
        }
}

function click_exit(cf)
{
 
	    location.href="BRS_hdd_success.htm"; 
}

function click_pre(cf)
{		
	location.href="BRS_success.html"; // i think it is direct to success page is good,this page can show you disk state.
}

function readshare_next(cf)
{
	if( is_Mac == "Mac" )
		cf.download_readyshare.value = "0";
	
	cf.submit();
}
</script>
</form>
</body>
</html>
