<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% hijack_title() %>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<script language="javascript" type="text/javascript" src="script/brs_hijack.js"></script>
<script language="javascript" type="text/javascript" src="script/brs_hijack_04_applySettings_ping.js"></script>
<% hijack_language() %>
<script language="javascript" type="text/javascript">
showFirmVersion("none");
var ping_result = "<% hijack_apply_result("/tmp/ping_result") %>"
var select_basic="<% cfg_get("internet_type") %>";  //select_basic = 1 dhcp or static, select_basic=0 pppoe or pptp 
var select_type = "<% cfg_get("internet_ppp_type") %>"; //select_type = 0 pppoe ,select_type = 1 pptp
</script>

</head>

<body>

<div class="wizard_content_div">

	<div class="wizard_words_div">
		
		<h1><script language="javascript" type="text/javascript">document.write(bh_apply_connection);</script></h1>
			
		<p><script language="javascript" type="text/javascript">document.write(bh_plz_waite_apply_connection);</script></p>
		
		<div id="applySettings_wait" class="waiting_img_div" align="center">
			<img src="image/wait30.gif" />
		</div>
		
	</div>
		
</div>

</body>

</html>
