<% http_header("style/form.css", "/funcs.js", "/ipv6.js") %>
<% body_header("_IPv6_auto", "IPv6_auto.htm", "ipv6_auto") %>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
	<input class="common_bt" type='button' name='Refresh' value='$ipv6_refresh' onClick='location.href="IPv6_index.htm";'>&nbsp;&nbsp;
	<input class="cancel_bt" type='button' name='Cancel' value='$cancel_mark' onClick='location.href="IPv6_auto.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type='submit' name='Apply' value='$apply_mark' onClick="return ipv6_save_common(document.forms[0])";>
        </TD>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<script>
var ipv6_ip_assign = "<% cfg_get("ipv6_dhcps_enable") %>";
var ipv6_interface_type = "<% cfg_get("ipv6_dhcps_interface_id_enable") %>";
var ipv6_interface_id = "<% cfg_get("ipv6_dhcps_interface_id") %>";
var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";

var ipv6_lan_ip = "<% ipv6_lan_ip() %>";

var wan_port_status = "<% cat_file("/tmp/WAN_status") %>";
var connection_type = "<% cat_file("/tmp/ipv6_auto_output") %>";

var ipv6_wan_ip;
if(connection_type == "Detecting...")
	ipv6_wan_ip = "";
else if(connection_type == "6to4 Tunnel")
	ipv6_wan_ip = "<% ipv6_wan_ip("sit1") %>";
/* to fix bug 26901
else if(connection_type == "Pass Through")
	ipv6_wan_ip = "$ipv6_not_available";*/
else if(connection_type == "Auto Config")
	ipv6_wan_ip = "<% ipv6_wan_ip("wan_if") %>";
else if(connection_type == "DHCP" || connection_type == "")
	ipv6_wan_ip = "<% ipv6_wan_ip("wan_if") %>";
else
	ipv6_wan_ip = "";

//ipv6_wan_ip = ipv6_wan_ip.split("/")[0]; // to fix bug 28770

var ipv6_lan_ip;
if(connection_type == "Pass Through")
	ipv6_lan_ip = "";
else
 	ipv6_lan_ip = "<% ipv6_lan_ip() %>";

if(connection_type == "Detecting...")
	setTimeout("location.reload()", 3000);

/* to fix bug 27954 */
var ipv6_type = "<% cfg_get("ipv6_type") %>";
if( ipv6_type != "autoDetect" )
{
	ipv6_lan_ip = "";
	ipv6_wan_ip = "";
}

function loadvalue()
{
	ipv6_load_common(document.forms[0]);		
}
</script>

<input type="hidden" name="ipv6_hidden_enable_interface" value="">
<input type="hidden" name="ipv6_hidden_interface_id" value="">
<input type="hidden" name="ipv6_hidden_filtering" value="">

<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
        <TD nowrap>
        <A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','internet')"><B>$ipv6_internet_con_type</B></A>
        </TD>
        <TD nowrap align=right>
        <select name="con_type" onChange="change_ipv6(document.forms[0].con_type.value)">
		<option value="disabled">$pppoe2_disable</option>
                <option value="autoDetect" selected>$ipv6_auto_detect</option>
		<option value="autoConfig">$ipv6_auto_config</option>
		<option value="6to4">$ipv6_6to4_tunnel</option>
                <option value="bridge">$ipv6_pass_through</option>
                <option value="fixed">$ipv6_fixed</option>
                <option value="dhcp">$router_status_dhcp</option>
                <option value="pppoe">$basic_intserv_pppoe</option>
        </select>
        </TD>
</TR>
$bluebar
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','wan_type')"><B>$trigger_contype</B></A></TD>
	<TD nowrap align=right>
	<script>
	if(wan_port_status != "Link down")
	{
		if(connection_type != "")
		{//to fix bug33352:the detected mode should be translated
			var type=change_conn_type_name(connection_type);
			document.write(type);
		}
		else
			document.write("$router_status_dhcp/$ipv6_auto_config");
	}
	else
		document.write("$ipv6_no_wan_connection");
	</script>
	</TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','wan_ipaddr')"><B>$ipv6_wan_address</B></A></TD>
	<TD nowrap align=right><script>ipv6_write_ip(ipv6_wan_ip);</script></TD>
</TR>
$bluebar
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','lan_ipaddr')"><B>$lan_mark_head</B></A></TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','lan_ipaddr')"><B>$ipv6_lan_address</B></A></TD>
	<TD nowrap align=right><script>ipv6_write_ip(ipv6_lan_ip);</script></TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','lan_ip_assign')">$ipv6_ip_assign</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2><input type="radio" name="ipv6_lan_ip_assign" value="1">$ipv6_dhcp_server</TD>
</TR>
<TR>
	<TD nowrap colspan=2><input type="radio" name="ipv6_lan_ip_assign" value="0">$ipv6_auto_config</TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<BR>
	<input type="checkbox" name="enable_interface" value="" onClick="set_interface();">
	<A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','interface_id')">$ipv6_interface</A>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IP_interface" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IP_interface" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IP_interface" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IP_interface" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
	</TD>
</TR> 
$bluebar
<TR>
        <TD nowrap>
        <A tabindex=-1 href="javascript:loadhelp('_IPv6_auto','nat')"><B>$ipv6_filtering</B></A>
        </TD>
        <TD nowrapi align=right>
        <input type="radio" name="IPv6Filtering" value="Secured">$adva_wansetup_nat_secured&nbsp;
        <input type="radio" name="IPv6Filtering" value="Open">$adva_wansetup_nat_open&nbsp;&nbsp;
        </TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_IPv6_auto") %>
</table>
</FORM>
</BODY>
</HTML>
