<% http_header("style/form.css", "/funcs.js", "/ipv6.js", "/ipv6_fixed.js") %>
<% body_header("_IPv6_fixed", "IPv6_index.htm", "ipv6_fixed") %>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
	<input class="cancel_bt" type='button' name='Cancel' value='$cancel_mark' onClick='location.href="IPv6_fixed.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type='submit' name='Apply' value='$apply_mark' onClick="return check_ipv6_fixed(document.forms[0])";>
        </TD>
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button">

<script>
var ipv6_wan = "<% cfg_get("ipv6_fixed_wan_ip") %>";
var ipv6_wan_prefix_len = "<% cfg_get("ipv6_fixed_wan_prefix_len") %>";

var ipv6_default_gw = "<% cfg_get("ipv6_fixed_gw_ip") %>";

var ipv6_wan_primary_dns = "<% cfg_get("ipv6_fixed_dns1") %>";
var ipv6_wan_second_dns = "<% cfg_get("ipv6_fixed_dns2") %>";

var ipv6_ip_assign = "<% cfg_get("ipv6_dhcps_enable") %>";

var ipv6_lan = "<% cfg_get("ipv6_fixed_lan_ip") %>";
var ipv6_lan_prefix_len = "<% cfg_get("ipv6_fixed_lan_prefix_len") %>";

var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";

function loadvalue()
{
	var cf = document.forms[0];
	var i;
	
	/* IPv6 Address/Prefix Length */
	var ipv6_wan_ip = ipv6_wan.split(":");
	for( i=0; i<ipv6_wan_ip.length; i++ )
	{
		if(ipv6_wan_ip[i]=="" && ipv6_wan!="")
			cf.IPv6_wan[i].value = "0";
		else
			cf.IPv6_wan[i].value = ipv6_wan_ip[i];
	}
	if(ipv6_wan_prefix_len=="" && ipv6_wan!="")
		cf.IPv6_wan_prefix.value = "0"
	else
		cf.IPv6_wan_prefix.value = ipv6_wan_prefix_len;

	/* Default IPv6 Gatewy */
	var ipv6_gateway_ip = ipv6_default_gw.split(":");
	for(i=0; i<ipv6_gateway_ip.length; i++)
	{
		if(ipv6_gateway_ip[i]=="" && ipv6_default_gw!="")
			cf.IPv6_gw[i].value = "0";
		else
			cf.IPv6_gw[i].value = ipv6_gateway_ip[i];
	}

	/* Primary DNS Server & Secondary DNS Server */
	var ipv6_primary_dns = ipv6_wan_primary_dns.split(":");
	for( i=0; i<ipv6_primary_dns.length; i++ )
	{
		if(ipv6_primary_dns[i]=="" && ipv6_wan_primary_dns!="")
			cf.IPv6_Pri_DNS[i].value = "0";
		else
			cf.IPv6_Pri_DNS[i].value = ipv6_primary_dns[i];
	}

	var ipv6_second_dns = ipv6_wan_second_dns.split(":");
	for( i=0; i<ipv6_second_dns.length; i++ )
        {
		if(ipv6_second_dns[i]=="" && ipv6_wan_second_dns!="")
			cf.IPv6_Sec_DNS[i].value = "0";
		else
                	cf.IPv6_Sec_DNS[i].value = ipv6_second_dns[i];
        }	
	

	/* IP Address Assignment */
        if( ipv6_ip_assign == "1" )
        {
                cf.ipv6_lan_ip_assign[0].checked = true;
        }
        else if( ipv6_ip_assign == "0" )
        {
                cf.ipv6_lan_ip_assign[1].checked = true;
        }

	/* IPv6 Address/Prefix Length */
	var ipv6_lan_ip = ipv6_lan.split(":");	
	for( i=0; i<ipv6_lan_ip.length; i++ )
	{
		if(ipv6_lan_ip[i]=="" && ipv6_lan!="")
			cf.IPv6_lan[i].value = "0";
		else
			cf.IPv6_lan[i].value = ipv6_lan_ip[i];
	}
	if(ipv6_lan_prefix_len=="" && ipv6_lan!="")
		cf.IPv6_lan_prefix.value = "0";
	else
		cf.IPv6_lan_prefix.value = ipv6_lan_prefix_len;

	/* IPv6 Filtering */
        if(ipv6_cone_fitering == 0)
        {
                cf.IPv6Filtering[0].checked = true;
        }
        else if(ipv6_cone_fitering == 1)
        {
                cf.IPv6Filtering[1].checked = true;
        }
}
</script>

<input type="hidden" name="ipv6_wan_ip_fixed" value="">
<input type="hidden" name="ipv6_wan_fixed_prefix" value="">
<input type="hidden" name="ipv6_wan_gw_fixed" value="">
<input type="hidden" name="ipv6_primary_dns_fixed" value="">
<input type="hidden" name="ipv6_second_dns_fixed" value="">
<input type="hidden" name="ipv6_lan_ip_fixed" value="">
<input type="hidden" name="ipv6_lan_fixed_prefix" value="">
<input type="hidden" name="ipv6_hidden_filtering" value="">

<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
        <TD nowrap>
        <A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','internet')"><B>$ipv6_internet_con_type</B></A>
        </TD>
        <TD nowrap align=right>
        <select name="con_type" onChange="change_ipv6(document.forms[0].con_type.value)">
		<option value="disabled">$pppoe2_disable</option>
                <option value="autoDetect">$ipv6_auto_detect</option>
		<option value="autoConfig">$ipv6_auto_config</option>
                <option value="6to4">$ipv6_6to4_tunnel</option>
                <option value="bridge">$ipv6_pass_through</option>
                <option value="fixed" selected>$ipv6_fixed</option>
                <option value="dhcp">$router_status_dhcp</option>
                <option value="pppoe">$basic_intserv_pppoe</option>
        </select>
        </TD>
</TR>
$bluebar
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','wan_ipaddr')"><B>$wan_setup_head</B></A></TD>	
</TR>
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','wan_ipaddr')">$ipv6_addr_pre_length</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_wan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">/
	<input type="text" name="IPv6_wan_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','wan_gtway')">$ipv6_default_gw</A></TD>
</TR>	
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0>
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
        <input type="text" name="IPv6_gw" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
        </TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','dns_server')">$ipv6_primary_dns</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Pri_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
	</TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','dns_server')">$ipv6_secondary_dns</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_Sec_DNS" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
	</TD>
</TR>
$bluebar
<TR>
        <TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','lan_ip_assign')"><B>$lan_mark_head</B></A></TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','lan_ip_assign')">$ipv6_ip_assign</A></TD>
</TR>
<TR>
        <TD nowrap colspan=2><input type="radio" name="ipv6_lan_ip_assign" value="1">$ipv6_dhcp_server</TD>
</TR>
<TR>
        <TD nowrap colspan=2><input type="radio" name="ipv6_lan_ip_assign" value="0">$ipv6_auto_config</TD>
</TR>
<TR>
        <TD nowrap colspan=2><BR><A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','lan_ipaddr')">$ipv6_addr_pre_length</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_lan" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">/
	<input type="text" name="IPv6_lan_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</TD>
</TR>
$bluebar
<TR>
        <TD nowrap>
        <A tabindex=-1 href="javascript:loadhelp('_IPv6_fixed','nat')"><B>$ipv6_filtering</B></A>
        </TD>
        <TD nowrap align=right>
        <input type="radio" name="IPv6Filtering" value="Secured">$adva_wansetup_nat_secured&nbsp;
        <input type="radio" name="IPv6Filtering" value="Open">$adva_wansetup_nat_open&nbsp;&nbsp;
        </TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_IPv6_fixed") %>
</FORM>
</BODY>
</HTML>

